/*********LIGHT MODE*********/

/*NAVBAR-LIGHTMODE*/
.bodyy.light-mode{
    background-color: rgb(182, 212, 197);
}

.navbar1.light-mode{
    background-color: rgba(214, 247, 224, 0);
}

.imgLuna.light-mode {
    cursor: pointer;
    margin-left: 10px;
    margin-right: -5px;
    margin-bottom: 1px;
    height: 21px;
}

.nav-item .light-mode:hover{
    background-color: rgb(192, 226, 189);
}