/*********LIGHT MODE*********/

/*NAVBAR-LIGHTMODE*/
.bodyy.light-mode{
    background-color: rgb(243, 243, 243);
}

.navbar1.light-mode{
    background-color: rgba(255, 255, 255, 0.966);
}

.imgLuna.light-mode {
    cursor: pointer;
    margin-left: 10px;
    margin-right: -5px;
    margin-bottom: 1px;
    height: 21px;
}

.nav-item .light-mode:hover{
    background-color: rgb(243, 243, 243);
}