.bodyy.dark-mode {
    background-color: rgb(63, 63, 63);
}

.configIcon {
    cursor: pointer;
    margin-left: -26px;
    width: 25px;
    padding-bottom: 10px;
    margin-bottom: -20px;
}



.nav-item {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}

.nav-link{
    border-radius: 10px;
}

.contenedorsi{
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 17px;
}

.imgLuna.light-mode {
    cursor: pointer;
    margin-left: 10px;
    margin-right: -5px;
    margin-bottom: 1px;
    height: 21px;
}

.imgLuna {
    cursor: pointer;
    margin-left: 10px;
    margin-right: -5px;
    margin-bottom: 1px;
    height: 21px;
}
.nav-item .dark-mode:hover{
    background-color: rgb(49, 49, 49);
}

.nav-item .light-mode:hover{
    background-color: rgb(233, 233, 233);
}

.body .dark-mode{
    background-color: black;
}

.botonLuna {
    display: flex;
    gap: -1px;
}

.btnLuna{
    margin-right: -15px;
}

.imgLuna.dark-mode {
    cursor: pointer;
    margin-left: 10px;
    margin-right: -5px;
    margin-bottom: 1px;
    height: 21px;
}